body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-image:url(../img/background-img.png);
    background-image: no-repeat fixed center;
    background-size: cover;
    overflow-x: hidden;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#space {
    height: 55em;
    width: 90em;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#screen {
    height: 40em;
    width: 70em;

    border-radius: 0.8em;
    border: 0.7em solid #4D5061;
    border-bottom: 4.5em solid #4D5061;

    box-shadow: 1em 1em 4em;
}


.tv {
    background-color: black;
}

#bannerTop {
    display: flex;
    margin: 1em;
}

.channel {
    color: aliceblue;
    margin-right: 0.5em;
}

#date {
    color: aliceblue;
    margin-right: 0.5em;
}

#bannerSound {
    display: flex;
    margin: 1em;

}

#infoSoundUp {
    color: rgb(19, 172, 19);
    font-size: 3em;
    font-weight: 900;

}

#infoSoundDown{
    color: rgba(255, 0, 0, 0.724);
    font-size: 3em;
    font-weight: 900;

}

.buttonOnOff {
    background-color: brown;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;

    margin: 1.6em;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 800;
}


#remoteControl {
    height: 35em;
    width: 10em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5em;
}



#containerBtn {
    width: 9em;
    height: 33em;
    border-radius: 4em;

    background-color: #4D5061;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 0.1em solid #3b3d4b;

    box-shadow: 1em 1em 4em;
}


.button  {
    background-color: whitesmoke;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;

    margin: 1.6em;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 800;
}

#bannerSound {
    color:aliceblue;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-content:flex-end ;
    justify-content: flex-end;

}


.buttonSound {
    background-color: #A9C5A0;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;

    margin: 1.6em;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 800;
}

#buttonHdmi {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    visibility: hidden;
}

.button:hover {
    transition: 0.2s;
    background-color: rgb(172, 170, 170);
}

#onOff:hover {
    transition: 0.2s;
    background-color: darkred;
}

.buttonSound:hover {
    transition: 0.2s;
    background-color: #a9c5a0be;
}

.canal1 {
    background-image: url(../img/primeVideo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal2 {
    background-image: url(../img/apple.logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal3 {
    background-image: url(../img/creativelive.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal4 {
    background-image: url(../img/netflix.logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal5 {
    background-image: url(../img/paramount.logo.jpeg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal6 {
    background-image: url(../img/Talk-TV-logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal7 {
    background-image: url(../img/Twitch_Logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal8 {
    background-image: url(../img/warner.logo.png);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.hide {
    display: none;
}

.show {
    display: block;
}
