body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-image:url(../img/background-img.png);
    background-image: no-repeat fixed center;
    background-size: cover;
    overflow-x: hidden;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#space {
    height: 55em;
    width: 90em;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#screen {
    height: 40em;
    width: 70em;
    margin: 2em;

    border-radius: 1em;
    border: 0.5em solid black;

}


.tv {
    background-color: black;
}

#bannerTop {
    display: flex;

    margin: 1em;
}

.channel {
    color: aliceblue;
    margin-right: 0.5em;
    /*visibility: hidden;*/
}

#data {
    color: aliceblue;
    margin-right: 0.5em;
    /* visibility: hidden; */
}

#bannerSound {
    display: flex;
    justify-content: flex-end;

    margin: 1em;
    visibility: hidden;

}

.soundDown {
    margin-right: 0.5em;
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}

.soundUp {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
}

#onOff {
    background-color: brown;
}


#remoteControl {
    height: 25em;
    width: 10em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;
    margin-left: 5em;

}

#containerBtn {
    width: 10em;
    height: 27em;
    border-radius: 34%;

    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.button {
    background-color: rgb(97, 97, 97);
    height: 2em;
    width: 2em;
    border-radius: 50%;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;

    margin: 1.6em;
    transition: 0.2s;
    cursor: pointer;
}

#buttonHdmi {
    visibility: hidden;
}

.button:hover {
    transition: 0.2s;
    background-color: rgb(50, 50, 50);
}

#onOff:hover {
    transition: 0.2s;
    background-color: darkred;
}

.canal1 {
    background-image: url(../img/primeVideo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal2 {
    background-image: url(../img/apple.logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal3 {
    background-image: url(../img/creativelive.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal4 {
    background-image: url(../img/netflix.logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal5 {
    background-image: url(../img/paramount.logo.jpeg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal6 {
    background-image: url(../img/Talk-TV-logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal7 {
    background-image: url(../img/Twitch_Logo.jpg);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.canal8 {
    background-image: url(../img/warner.logo.png);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.on {
    background-image: url(../img/home.png);
    background-image: no-repeat fixed center;
    background-size: cover;
}

.off {
    background-color: black;
}